@-moz-document url-prefix('chrome://') {
    #widget\:jid1\-BOjn8b0IM7kH2w\@jetpack\-main\-widget {
        -moz-appearance: toolbarbutton;
        margin: 0;
    }
    :-moz-any(#TabsToolbar, #addon-bar) #widget\:jid1\-BOjn8b0IM7kH2w\@jetpack\-main\-widget {
        -moz-appearance: none;
        border-style: none;
        padding: 0 3px;
    }
    #nav-bar #widget\:jid1\-BOjn8b0IM7kH2w\@jetpack\-main\-widget {
        padding: 0 3px !important;
    }
    #addon-bar #widget\:jid1\-BOjn8b0IM7kH2w\@jetpack\-main\-widget iframe {
        height: 16px !important;
        width: 16px !important;
    }
    #TabsToolbar #widget\:jid1\-BOjn8b0IM7kH2w\@jetpack\-main\-widget:not([disabled]):hover {
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .5)), linear-gradient(transparent, rgba(0, 0, 0, .25) 30%), linear-gradient(transparent, rgba(0, 0, 0, .25) 30%);
        background-position: 1px -1px, 0 -1px, 100% -1px;
        background-size: calc(100% - 2px) 100%, 1px 100%, 1px 100%;
        background-repeat: no-repeat;
    }
    #addon-bar #widget\:jid1\-BOjn8b0IM7kH2w\@jetpack\-main\-widget:not([disabled]):hover {
        background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, .15)), linear-gradient(to top, transparent, rgba(0, 0, 0, .15) 30%), linear-gradient(to top, transparent, rgba(0, 0, 0, .15) 30%);
        background-position: left, left, right;
        background-size: auto, 1px 100%, 1px 100%;
        background-repeat: no-repeat;
    }
}