@font-face {
    font-family: "Open Sans Condensed";

    src: url(opensanscondensed.woff) format("woff");
}

@font-face {
    font-family: "Droid Naskh";

    src: url(droidnaskhbold.woff) format("woff");
}

* {
    -moz-user-select: none;
}

body {
    display: inline-block;
    overflow-x: hidden;

    background-color: white;

    font-size: 16px;
}

.button {
    margin: 0;
    padding: 5px 15px;

    cursor: pointer;
    text-decoration: none;

    color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background-color: #6cc655;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 1px rgba(255, 255, 255, 1);

    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
}

.mark-read,
.show-content,
.save-feed,
[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;

    width: 14px;
    height: 14px;
    margin-top: 1px;
    margin-right: 0.3em;

    vertical-align: text-top;

    background: url("glyphicons-halflings.png") no-repeat -120px -120px;

    line-height: 14px;
}

.icon-ok {
    margin-right: 5px;

    background-position: -285px 2px;
}

.icon-share {
    margin-right: 5px;

    background-position: -117px -69px;
}

.mark-read:hover {
    background-position: -96px -120px;
}

.show-content {
    background-position: -313px -119px;
}

#login,
#popup-content,
#popup-actions {
    display: none;
}

.item {
    width: 100%;
}

.item:hover {
    background-color: #f5f5f4;
}

#feed .item:not(:last-child),
#feed-saved .item:not(:last-child) {
    border-bottom: solid #d2d2d2 1px;
}

.item .content {
    display: none;

    padding: 5px;

    color: black;
    border: 1px solid #6cc655;
    border-radius: 3px;
    background-color: white;

    font-size: 1em;
}

.item .content,
.item .content * {
    -moz-user-select: text;
}

.content a:link {
    text-decoration: none;

    color: #6cc655;
}

.content a:hover {
    text-decoration: underline;
}

.content img,
.content iframe {
    max-width: 100% !important;
    height: auto !important;
}

.content .author {
    display: block;

    margin-bottom: 3px;
}

.content:after {
    display: table;
    clear: both;

    content: "";
}

.rtl {
    text-align: right;

    direction: rtl;
}

.article-title {
    display: inline-block;
}

.article-title,
.blog-title {
    width: calc(100% - 70px);
}

.article-menu {
    float: right;

    vertical-align: top;

    font-size: 12px;
}

#feed-empty,
.title {
    color: #444444;

    font-family: "Open Sans Condensed", "Droid Naskh", serif;
}

#feed-empty {
    margin-top: 40px;

    text-align: center;
}

#popup-content {
    min-width: 230px;
}

#feedly {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    margin: 0 8px;
    padding: 10px 0 0 0;

    background-color: white;
}

#feedly img {
    margin-right: 5px;

    vertical-align: bottom;
}

#feed {
    margin-top: 55px;
}

.tabs #feed {
    margin-top: 90px;
}

.tabs #feed-saved,
.tabs #feed-empty {
    margin-top: 70px;
}

.arrow-up {
    position: absolute;
    top: 36px;
    right: 1px;

    display: none;

    width: 0;
    height: 0;

    border-right: 4px solid transparent;
    border-bottom: 4px solid #6cc655;
    border-left: 4px solid transparent;
}

#website,
#popup-actions {
    text-decoration: none;

    color: black;

    font-family: sans-serif;
    font-size: 11px;
}

#popup-actions > i > span {
    display: none;
}

#popup-actions > i {
    padding: 3px;

    cursor: pointer;

    border: 1px solid #6cc655;
    border-radius: 3px;
}

#popup-actions > i:hover {
    background-color: #eaeaea;
}

#popup-actions > i:hover > span {
    position: absolute;
    top: 40px;
    right: 0;

    display: inline-block;

    min-width: 100px;

    text-align: right;

    border-top: 1px solid #6cc655;
}

#popup-actions > i:hover > div {
    display: inline-block;
}

#website:hover {
    color: #6cc655;
}

#feedly-section {
    float: left;
}

#popup-actions {
    float: right;

    height: 37px;
}

#popup-actions > div {
    margin-bottom: 5px;

    vertical-align: middle;
}

#popup-actions span {
    cursor: pointer;
}

#popup-actions span:hover {
    color: #6cc655;
}

.title {
    display: inline-block;

    cursor: pointer;

    font-size: 0.9em;
}

.blog-title > * {
    vertical-align: middle;
}

.blog-title a,
.blog-title span {
    color: gray;

    font-family: "Open Sans Condensed", "Droid Naskh", serif;
    font-size: 0.7em;
}

.blog-title a {
    cursor: pointer;
    text-decoration: none;
}

.clear {
    clear: both;
}

.tabs #feedly {
    border-bottom: 1px solid #6cc655;
}

.tab {
    display: none;

    margin: 10px 0 0 0;
    padding: 5px 10px;

    cursor: pointer;
    text-decoration: none;

    color: black;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    background-color: #eaeaea;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 1px rgba(255, 255, 255, 1);

    font-size: 14px;
    line-height: 17px;
}

.tabs .tab {
    display: inline-block;
}

.active-tab {
    color: white;
    background-color: #6cc655;
}

.save-feed {
    display: none;
}

.tabs .save-feed {
    display: inline-block;
}

button::-moz-focus-inner {
    border: 0;
}

.save-feed {
    background: url(save.png) no-repeat 0 0;
}

.saved {
    background-position: -14px 0;
}

.blog-icon {
    width: 16px;
    height: 16px;
}

.categories {
    padding-bottom: 5px;
}

.categories > span {
    display: inline-block;

    padding: 4px 8px;

    cursor: pointer;

    color: black;

    font-family: sans-serif;
    font-size: 1em;
}

.categories > span.active {
    color: #ffffff;
    border-radius: 4px;
    background-color: #6aba45;
}