html, body {
    height: 100%;
    -moz-user-select: none;
}

#feedly-notifier-container {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: default;
    font-size: 16px;
    text-align: center;
}

#feedly-notifier-container img {
    vertical-align: top;
    max-width: 100%;
    max-height: 100%;
}

#feedly-notifier-counter {
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: arial, serif;
    font-size: 0.60em;
    font-weight: bold;
    background-color: #b60c00;
    color: white;
    padding: 0 2px;
    border-radius: 3px;
    line-height: 1;
}

#feedly-notifier-loader {
    position: absolute;
    display: none;
    bottom: 0;
}