body{
    cursor: default;
}

#container{
    width: 16px;
    height: 16px;
}

#counter{
    background-color: #CC0000;
    border-radius: 3px 3px 3px 3px;
    color: white;
    cursor: default;
    float: right;
    font-size: 10px;
    height: 10px;
    line-height: 10px;
    margin-top: -10px;
    padding: 1px;
    display: none;
}

#image{
    height: 16px;
    float: left;
}
