#feedlynotifier:after {
    float: right;
    position: relative;
    font-family: arial;
    font-size: 10px;
    font-weight: bold;
    content: attr(badge);
    background-color: #b60c00;
    color: white;
    margin: 10px 0 0 -20px;
    padding: 0 2px;
    border-radius: 6px;
    line-height: 11px;
}